# BPF Syscall `BPF_PROG_TEST_RUN` command

<!-- [FEATURE_TAG](BPF_PROG_TEST_RUN) -->
[:octicons-tag-24: v4.12](https://github.com/torvalds/linux/commit/1cf1cae963c2e6032aebe1637e995bc2f5d330f4)
<!-- [/FEATURE_TAG] -->

<!-- TODO -->
