name: Deploy GH pages

on:
  # Run on push or merge to master
  push:
    branches:
      - master
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

env:
  USER: root

permissions:
  contents: read
  pages: write
  id-token: write

# Allow only one concurrent deployment, skipping runs queued between the run in-progress and latest queued.
# However, do NOT cancel in-progress runs as we want to allow these production deployments to complete.
concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  deploy-gh-pages:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Cache plugin data
        id: cache-plugins
        uses: actions/cache@v4
        with:
          path: .cache
          key: cache-plugins-${{ github.run_id }}
          restore-keys: |
            cache-plugins-
      - name: Apply deploy config
        run: |
          echo "" >> mkdocs.yml
          echo "site_url: https://isovalent.github.io" >> mkdocs.yml
          echo "" >> mkdocs.yml
          echo "extra:" >> mkdocs.yml
          echo "  analytics:" >> mkdocs.yml
          echo "    provider: google" >> mkdocs.yml
          echo "    property: G-KVJ1CK539N" >> mkdocs.yml
      - name: Build html
        run: |
          make html PROD=true GH_TOKEN=${{ secrets.GITHUB_TOKEN }} GHA_CACHE=true CONTAINER_ENGINE=docker
      - name: Setup Pages
        uses: actions/configure-pages@v5
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          # Upload the `out` directory
          path: './out'
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4


